main {
    padding-bottom: 100px;
}

.jumbotron {
    background-color: #FFFFFF;
}

.nav {
    background-color: #FFFFFF;
}

.card-header {
    background-color: #FFFFFF;
    transition: background-color .5s;
}

.card-header:hover {
    background-color:#3498db;
    color: #141414;
}

.btn-link {
    color: #141414;
}

.footer {
    background-color: #FFFFFF;
}